<app-logo />
<input [(ngModel)]="userEmail" type="text" class="form-control rounded-4" placeholder="Email">
<input [(ngModel)]="userPassword" class="form-control rounded-4 mt-2" placeholder="Password">
<input [(ngModel)]="userRepeatedPassword" class="form-control rounded-4 mt-2" placeholder="Repeated password">
<div>
    <button (click)="signupUser()" type="submit" class="btn btn-primary rounded-pill mt-4">Create an account</button>
</div>
<a routerLink=".." class="btn btn-secondary rounded-pill mt-4">Cancel</a>